header.buffer-top-10.clearfix
  h3.float-left.text-muted
    a([routerLink]='["/"]') dlt
  a.float-right([routerLink]='["/cart"]')
    i.glyphicon.glyphicon-shopping-cart

.jumbotron
  h1.display-3 Title!
  p.lead Hoddle waddle ardiles villa sheringham lineker gazza venables. King white hart lane levy berbatov keane. Nicholson klinsmann perryman greaves blanchflower mabbutt. Smith chivers cliffjones jennings mackay rowe bale. Roberts friend sicknote judas barmby walker. Robinson stewart eriktheviking nayim edinburgh vandervaart. Samways clivewilson nethercott chasndave alansugar defoe.
