header.buffer-top-10.clearfix
  h3.float-left.text-muted
    a([routerLink]='["/"]') dlt
  a.float-right([routerLink]='["/cart"]')
    i.glyphicon.glyphicon-shopping-cart

.jumbotron
  h1.display-3 Jumbotron heading
  p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
